<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Select Area</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-radio
                        name="used"
                        ng-model="vm.profile.location.city"
                        ng-repeat="list in vm.cityList"
                        ng-value="'{{list.city}}'" >
                {{list.city}}
            </ion-radio>
        </ion-list>
    </ion-content>
    <ion-footer-bar
        ng-click="vm.selectArea()"
        align-title="center"
        class="bar-light bar-location click" >
        <h1 class="title"> <i class="icon ion-android-checkbox-outline"></i> Select</h1>
    </ion-footer-bar>
</ion-modal-view>
