<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Select Region</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-radio
                        name="used"
                        ng-model="vm.profile.location.region"
                        ng-repeat="region in vm.regionlist"
                        ng-value="'{{region}}'" >
                {{region}}
            </ion-radio>
        </ion-list>
    </ion-content>
    <ion-footer-bar
        ng-click="vm.selectRegion()"
        align-title="center"
        class="bar-light bar-location click" >
        <h1 class="title"> <i class="icon ion-android-checkbox-outline"></i> Select</h1>
    </ion-footer-bar>
</ion-modal-view>
